* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.whatsapp-logo {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1000;
}

.swiper-slide {
  transform: scale(0.9);
  transition: transform 0.4s ease;
}
.swiper-slide-active {
  transform: scale(1);
}

.heading-text {
  font-family: "Cinzel", serif;
}

.p-bg-coklat {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* Ganti warna bullet Swiper */
.swiper-pagination-bullet {
  background: #e0e0e0; /* Warna bullet default */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #cca741 !important; /* Warna bullet aktif */
}

.hamburger-active .line-top {
  transform: rotate(45deg) translateY(8px);
}
.hamburger-active .line-middle {
  opacity: 0;
}
.hamburger-active .line-bottom {
  transform: rotate(-45deg) translateY(-8px);
}

.background-img {
  background-image: url('./img/bg2.webp')
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.blink {
  animation: blink 1s infinite;
}

/* Mengubah warna ikon footer*/
.fas, .fab {
  color: #cca741;
}

/* Mengubah warna teks footer*/
li {
  color: #cca741;
}

.wa.fab.fa-whatsapp {
  color: white;
}